<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garif.engineer_mobile_control">

    <application>
        <activity
            android:name=".ui.activities.EngineerMobileControlActivity"
            android:exported="false"
            android:theme="@style/Theme.LIRSRobotControl" />

        <service
            android:name=".model.ClientService"
            android:exported="false" />
    </application>
</manifest>
