<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garif.artbul_control_feature">

    <application>
        <activity
            android:name=".presentation.ArtBulControlActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
    </application>

</manifest>
